[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyfatal-organization-0-0-1 = {editable = true,git = "https://github.com/lounis/python-test.git",ref = "0.0.1",subdirectory = "src/Organization"}

[pipenv]
allow_prereleases = true
